/* Body */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #332C39;
    margin-top: 10px;
}
  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 20px 0;
    text-align: center;
}

.mainContainer {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Heading */
.headerContainer h1 {
    font-size: 60px; 
}

/* Help section*/
.helpMessage {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 30px;
    width: 440px;
    position: absolute;
    text-align: center;
    line-height: 150%;
}

.helpMessage h1 {
    font-size: 1.4rem;
}

.helpMessage p {
    font-size: 0.9rem;
}

.hangmanRules {
    text-align: justify;
    text-justify: inter-word;
  }

/* Hangman */
.hangmanContainer {
    padding-top: 40px; 
}

/* Hidden word */
.hiddenWordContainer {
      padding-top: 80px;
}

.hiddenWordContainer p {
    font-size: 50px;
}

/* Notification */
.notificationContainer {
    position: absolute;
    bottom: 60%;
    left: 25%;
    transition: transform 0.3s ease-in-out;
    background: #86C8BC;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    width: 440px;
    text-align: center;
    line-height: 250%;
    margin-left: 37%;
}

.notificationContainer p {
    font-size: 1.5rem;
    color: white;
}

/* Wrong Guesses */
.wrongGuessesContainer p {
    font-size: 1.2rem;
    padding: 20px;
}

.wrongGuessesContainer span {
    font-size: 1.5rem;
    color: #609EA2;
    font-weight: 400;
    letter-spacing: 10px;
}

/* Popup */
.popUpContainer h2 {
    font-size: 2rem;
    padding-bottom: 15px;
}

.popUpContainer h3 {
    padding-bottom: 15px;
    font-size: 1.5rem;
}